*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    background:rgba(0, 0, 0, 0.3);
}
iframe{
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    box-shadow: 0 .2em .2em rgba(0, 0, 0, 0.3);
}
.TitulodoVideo{
    line-height: 1.05em;
    width: 100vw;
    height: 10vh;
    margin: -3.8px 0 0 -10px;
    padding: 0 15px 0 18px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}

@media (max-width:360px){
    .TitulodoVideo{color: black !important; font-size: .8em;}
    iframe{}
}
